/* basic looks */ 
   body {
     margin: 0px;
     text-align: center;
   }

/* div */
   div {
     padding: 30px;
   }
   /* lessons backround */
     .html, .phyton {
       background: linear-gradient(
       to right, 
       #2F3F61, #797E7F
       );
      }
     .css, .our-playlist {
  background: linear-gradient(
   to right,
   #F9EEC1, #71EBBC
   );
}
     .java, .edu-app {
  background: linear-gradient(
   to right,
   #FFFDC6, #FFD547
   );
}

/* text */
   p {
  margin: 8px;
}
   div h1 {
  font-size: 60px;
  margin: 10px;
}
   .html, .phyton h1 {
  color: #FFFFFF;
}
   .html, .phyton p {
  color: #FFFFFF;
}

/* a links */
   .buttons {
  margin: 0 auto;
  padding: 5px;
  width: 230px;
}
     a {
  margin: 13px;
  border-radius: 30px;
  padding: 8px 30px;
  text-decoration: none;
}
     .learn {
  display: block;
  background: linear-gradient(
   to right,
   #38F33A, #10CD13, #0A8B0C
   );
  color: #FFFFFF;
}
     .w-reference {
  display: block;
  background: #ffffff;
  color: #090909;
}
     .b-reference {
  display: block;
  background: #0f0e0e;
  color: #ffffff;
}